::selection {
  background-color: gray;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceba5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  width: 500px;
  height: 550px;
  background-image: linear-gradient(to bottom, #424242, #212121);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 2rem;
  box-sizing: border-box;
}

.title {
  color: wheat;
  margin: 2rem 0;
  font-size: 2rem;
}

.input {
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: inherit;
  color: wheat;
  border: none;
  outline: none;
}

.username {
  border-bottom: 1px solid wheat;
  transition: all 400ms;
}

.username:hover {
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}

.password {
  border-bottom: 1px solid wheat;
  transition: all 400ms;
}

.password:hover {
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}

.btn {
  height: 3rem;
  width: 100%;
  margin-top: 2rem;
  background-color: wheat;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 400ms;
  box-shadow: 0 0 10px antiquewhite, 0 0 10px antiquewhite;
}

.btn:hover {
  background-color: antiquewhite;
  box-shadow: none;
}

.register {
  color: wheat;
  margin-top: 1rem;
  font-size: 1rem;
}

.register a {
  color: wheat;
  text-decoration: none;
  font-weight: bold;
}

.register a:hover {
  text-decoration: underline;
}

/*  */

.recuperar {
  color: wheat;
  margin-top: 1rem;
  font-size: 1rem;
}

.recuperar a {
  color: wheat;
  text-decoration: none;
  font-weight: bold;
}

.recuperar a:hover {
  text-decoration: underline;
}
